<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>ajouterFilmServlet</display-name>
    <servlet-name>ajouterFilmServlet</servlet-name>
    <servlet-class>fr.doranco.gestionFilm.tvm.servlets.ajouterFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajouterFilmServlet</servlet-name>
    <url-pattern>/ajouterFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>indexServlet</display-name>
    <servlet-name>indexServlet</servlet-name>
    <servlet-class>fr.doranco.gestionFilm.tvm.servlets.indexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexServlet</servlet-name>
    <url-pattern>/indexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ajouterUtilisateurServlet</display-name>
    <servlet-name>ajouterUtilisateurServlet</servlet-name>
    <servlet-class>fr.doranco.gestionFilm.tvm.servlets.ajouterUtilisateurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajouterUtilisateurServlet</servlet-name>
    <url-pattern>/ajouterUtilisateurServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>infosFilmServlet</display-name>
    <servlet-name>infosFilmServlet</servlet-name>
    <servlet-class>fr.doranco.gestionFilm.tvm.servlets.infosFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>infosFilmServlet</servlet-name>
    <url-pattern>/infosFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>supprimerFilmServlet</display-name>
    <servlet-name>supprimerFilmServlet</servlet-name>
    <servlet-class>fr.doranco.gestionFilm.tvm.servlets.supprimerFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>supprimerFilmServlet</servlet-name>
    <url-pattern>/supprimerFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ajouterImageServlet</display-name>
    <servlet-name>ajouterImageServlet</servlet-name>
    <servlet-class>fr.doranco.gestionFilm.tvm.servlets.ajouterImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajouterImageServlet</servlet-name>
    <url-pattern>/ajouterImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>supprimerUtilisateurServlet</display-name>
    <servlet-name>supprimerUtilisateurServlet</servlet-name>
    <servlet-class>fr.doranco.gestionFilm.tvm.servlets.supprimerUtilisateurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>supprimerUtilisateurServlet</servlet-name>
    <url-pattern>/supprimerUtilisateurServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifierUtilisateurServlet</display-name>
    <servlet-name>modifierUtilisateurServlet</servlet-name>
    <servlet-class>fr.doranco.gestionFilm.tvm.servlets.modifierUtilisateurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifierUtilisateurServlet</servlet-name>
    <url-pattern>/modifierUtilisateurServlet</url-pattern>
  </servlet-mapping>
</web-app>